body {
    
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(image/bg.jpg);
    background-size: cover;
    background-position: center;
}

.register {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.966);
    padding: 20px;
    margin: 5% auto 5%;
    text-align: center;
}

.register h1 {
    color: #e28743;
    margin-bottom: 30px;
}

.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
}

.subm {
    color: #ffffff;
    background-color: #e28743;
    font-style: bold;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
}

.select {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;

    border: 1px solid #999;
}

img {
    width: 30%;
}

.area {
    font-family: sans-serif;
    max-width: 100%;
    min-width: 100%;
    min-height: 10%;
}

hr {
    background-color: black;
    margin-top: 20;
    width: 90%;
}
button{
    color: #ffffff;
    background-color: #e28743;
    font-style: bold;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
}
.npage{
    font-family: sans-serif;
    font-style: normal;
    color: black;
}